<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Signup Page</title>
<link th:href="@{/style2.css}" rel="stylesheet">
<style>
		table, th, td {
		  border: 2px solid #96D4D4;
		  border-collapse: collapse;
		  padding:5px 5px;		}
		</style>
</head>
<body align="center">
<form action="/adduser" method="post">
<hr color="green"><h1>Signup Page</h1></hr>
<hr color="green"><table colour="red" align="center" border="1"><tr><td><lebel for="user-name">User Name</td>
<td><input type="text"name="name"></input></td>
</tr>
<tr><td><lebel for="email">Email</lebel></td>
<td><input type="text"name="email"></input></td>
</tr>
<tr>
<td>
</td>

<td><input type="submit"value="Submit"></input></td>
</tr>
</table>
</hr>
</form>
</body>
</html>