<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title background-color="green" align="center">User Data Input Form</title>
<link th:href="@{/style2.css}" rel="stylesheet">
<style>
		table, th, td {
		  border: 2px solid #96D4D4;
		  border-collapse: collapse;
		  padding:5px 5px;		}
		</style>
</head>
<body>
<form action="/user-data" method="get">
<div align="center" border="1">
<hr color="red"><h1>User Data</h1></hr>

<hr color="red"><table color="green" align="center" border="1">
<tr>
<td><h4>User Name:</h4></td>
<td><h4 th:text="${user.name}"></h4></td>
</tr>
<tr>
<td><h4 color="green">Email ID:</h4></td>
<td><h4 th:text="${user.email}"></h4></td>
</tr>
</table>
</hr>
</div>
</form>

</body>
</html>